@model Katlen.WEB.ViewModels.IndexViewModel;

<hr>

<main>
    <section class="catalog">
        <div class="container">
            <p class="text catalog__text">
                <a asp-controller="Home" asp-action="Index" class="catalog__link">Главная</a>
                <span> / </span>
                <a class="catalog__link fut-b" href="#">Каталог</a>
            </p>
            <h1 class="title fub-b">Каталог</h1>
            <div class="catalog__menu">
                <div class="catalog__menu-inner">
                    <div class="catalog__menu-item catalog__menu-item--quality">
                        <p class="catalog__text fut-l m-0">Количество товаров:</p>
                        <p id="general-quality" class="catalog__text fut-b m-0">120</p>
                    </div>

                    <div class="catalog__menu-item catalog__menu-item--page-quality">
                        <p class="catalog__text fut-l m-0">Товаров на странице:</p>
                        <p class="catalog__text catalog__text--page fut-b m-0">
                            <span id="page-quality">25</span>
                            <img class="dropdown-arrow" src="images/dropDown_BlackArrow-icon.svg" alt="dropDown arrow">
                        </p>
                    </div>

                    <div class="catalog__menu-item catalog__menu-item--sort">
                        <p class="catalog__text fut-l m-0">Сортировка:</p>
                        <div class="sort">
                            <select class="sort__choice fut-b" name="choice">
                                <option class="sort__option" value="first" selected>По цене</option>
                                <option class="sort__option" value="second">По размерам</option>
                                <option class="sort__option" value="third">По рейтингу</option>
                            </select>
                            <img class="dropdown-arrow dropdown-arrow--sort fut-b" src="images/dropDown_BlackArrow-icon.svg" alt="dropdown arrow">
                        </div>
                    </div>
                </div><!-- ./ catalog__menu-inner -->
            </div>
            <div class="catalog__inner">
                <aside class="catalog__filter">
                    <h2 class="catalog__inner-title fut-m">Фильтр</h2>
                    <form method="get">
                        <ul class="catalog__list">
                            <li class="catalog__list-item">
                                <div class="catalog__list-content">
                                    <h3 class="catalog__filter-title fut-m">Одежда</h3>
                                    <img class="catalog__filter-arrow" src="/images/arrow-down-sign-to-navigate.svg" alt="dropDown arrow">
                                </div>
                                <div class="dropdown__list close__dropdown">
                                    <div class="dropdown__list-item">
                                        <input name="isCostum" type="checkbox">
                                        <p class="text m-0 fut-l">Костюм</p>
                                    </div>
                                    <div class="dropdown__list-item">
                                        <input name="isDress" type="checkbox">
                                        <p class="text m-0 fut-l">Платье</p>
                                    </div>
                                    <div class="dropdown__list-item m-0">
                                        <input name="isComplect" type="checkbox">
                                        <p class="text m-0 fut-l">Комплект</p>
                                    </div>
                                </div>
                            </li>
                            <hr>
                            <li class="catalog__list-item">
                                <div class="catalog__list-content">
                                    <h3 class="catalog__filter-title fut-m">Цена</h3>
                                    <img class="catalog__filter-arrow" src="/images/arrow-down-sign-to-navigate.svg" alt="dropDown arrow">
                                </div>
                                <div class="dropdown__list price__dropdown">
                                    <input name="priceFrom" id="from" class="window__input price__dropdown-input m-0" type="text" placeholder="от 39">
                                    <input name="priceTo" id="to" class="window__input price__dropdown-input m-0" type="text" placeholder="до 249">
                                </div>
                            </li>
                            <hr>
                            <li class="catalog__list-item">
                                <div class="catalog__list-content">
                                    <h3 class="catalog__filter-title fut-m">Размеры</h3>
                                    <img class="catalog__filter-arrow" src="/images/arrow-down-sign-to-navigate.svg" alt="dropDown arrow">
                                </div>
                                <div class="dropdown__list size__dropdown">
                                    <div class="dropdown__list-item">
                                        <input name="smallSize" type="checkbox">
                                        <p class="text m-0 fut-l">92-98</p>
                                    </div>
                                    <div class="dropdown__list-item">
                                        <input name="middleSize" type="checkbox">
                                        <p class="text m-0 fut-l">102-120</p>
                                    </div>
                                    <div class="dropdown__list-item m-0">
                                        <input name="bigSize" type="checkbox">
                                        <p class="text m-0 fut-l">122-134</p>
                                    </div>
                                </div>
                            </li>
                            <hr>
                            <li class="catalog__list-item">
                                <div class="catalog__list-content">
                                    <h3 class="catalog__filter-title fut-m">Материал</h3>
                                    <img class="catalog__filter-arrow" src="/images/arrow-down-sign-to-navigate.svg" alt="dropDown arrow">
                                </div>
                                <div class="dropdown__list color__dropdown">
                                    <div class="dropdown__list-item">
                                        <input name="isShelkMaterial" type="checkbox">
                                        <p class="text m-0 fut-l">Шелк</p>
                                    </div>
                                    <div class="dropdown__list-item m-0">
                                        <input name="isMeshMaterial" type="checkbox">
                                        <p class="text m-0 fut-l">Сетчатая ткань</p>
                                    </div>
                                </div>
                            </li>
                            <hr>
                        </ul>
                        <input type="submit" value="Применить фильтры"/>
                    </form>
                </aside>

                <div class="catalog__inner-promo">

                    <div class="products catalog__products">
                        
                        @foreach (var item in @Model.ProductCards)
                        {

                            <div class="products__item catalog__products-item">
                                @if(item.SalePercent != 0)
                                {
                                    <div class="products__sale-stick fut-b">
                                        @item.SalePercent%
                                    </div>
                                }

                                <img class="products__item-img catalog__item-img" src="@Url.Content($"{item.Image}")" alt="@item.Name">
                                <div class="products__item-descr">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="104" height="20" viewBox="0 0 104 20" fill="none">
                                        @{
                                            switch (item.Rate)
                                            {
                                                case 1:
                                                    <path d="M9.04894 2.92705C9.3483 2.00574 10.6517 2.00574 10.9511 2.92705L12.0206 6.21885C12.1545 6.63087 12.5385 6.90983 12.9717 6.90983H16.4329C17.4016 6.90983 17.8044 8.14945 17.0207 8.71885L14.2205 10.7533C13.87 11.0079 13.7234 11.4593 13.8572 11.8713L14.9268 15.1631C15.2261 16.0844 14.1717 16.8506 13.388 16.2812L10.5878 14.2467C10.2373 13.9921 9.7627 13.9921 9.41221 14.2467L6.61204 16.2812C5.82833 16.8506 4.77385 16.0844 5.0732 15.1631L6.14277 11.8713C6.27665 11.4593 6.12999 11.0079 5.7795 10.7533L2.97933 8.71885C2.19562 8.14945 2.59839 6.90983 3.56712 6.90983H7.02832C7.46154 6.90983 7.8455 6.63087 7.97937 6.21885L9.04894 2.92705Z" fill="#ECAD3C" />
                                                    break;
                                                case 2:
                                                    <path d="M9.04894 2.92705C9.3483 2.00574 10.6517 2.00574 10.9511 2.92705L12.0206 6.21885C12.1545 6.63087 12.5385 6.90983 12.9717 6.90983H16.4329C17.4016 6.90983 17.8044 8.14945 17.0207 8.71885L14.2205 10.7533C13.87 11.0079 13.7234 11.4593 13.8572 11.8713L14.9268 15.1631C15.2261 16.0844 14.1717 16.8506 13.388 16.2812L10.5878 14.2467C10.2373 13.9921 9.7627 13.9921 9.41221 14.2467L6.61204 16.2812C5.82833 16.8506 4.77385 16.0844 5.0732 15.1631L6.14277 11.8713C6.27665 11.4593 6.12999 11.0079 5.7795 10.7533L2.97933 8.71885C2.19562 8.14945 2.59839 6.90983 3.56712 6.90983H7.02832C7.46154 6.90983 7.8455 6.63087 7.97937 6.21885L9.04894 2.92705Z" fill="#ECAD3C" data-darkreader-inline-fill="" style="--darkreader-inline-fill: #edb248;"></path>
                                                    <path d="M30.0489 2.92705C30.3483 2.00574 31.6517 2.00574 31.9511 2.92705L33.0206 6.21885C33.1545 6.63087 33.5385 6.90983 33.9717 6.90983H37.4329C38.4016 6.90983 38.8044 8.14945 38.0207 8.71885L35.2205 10.7533C34.87 11.0079 34.7234 11.4593 34.8572 11.8713L35.9268 15.1631C36.2261 16.0844 35.1717 16.8506 34.388 16.2812L31.5878 14.2467C31.2373 13.9921 30.7627 13.9921 30.4122 14.2467L27.612 16.2812C26.8283 16.8506 25.7739 16.0844 26.0732 15.1631L27.1428 11.8713C27.2766 11.4593 27.13 11.0079 26.7795 10.7533L23.9793 8.71885C23.1956 8.14945 23.5984 6.90983 24.5671 6.90983H28.0283C28.4615 6.90983 28.8455 6.63087 28.9794 6.21885L30.0489 2.92705Z" fill="#ECAD3C" data-darkreader-inline-fill="" style="--darkreader-inline-fill: #edb248;"></path>
                                                    break;
                                                case 3:
                                                    <path d="M9.04894 2.92705C9.3483 2.00574 10.6517 2.00574 10.9511 2.92705L12.0206 6.21885C12.1545 6.63087 12.5385 6.90983 12.9717 6.90983H16.4329C17.4016 6.90983 17.8044 8.14945 17.0207 8.71885L14.2205 10.7533C13.87 11.0079 13.7234 11.4593 13.8572 11.8713L14.9268 15.1631C15.2261 16.0844 14.1717 16.8506 13.388 16.2812L10.5878 14.2467C10.2373 13.9921 9.7627 13.9921 9.41221 14.2467L6.61204 16.2812C5.82833 16.8506 4.77385 16.0844 5.0732 15.1631L6.14277 11.8713C6.27665 11.4593 6.12999 11.0079 5.7795 10.7533L2.97933 8.71885C2.19562 8.14945 2.59839 6.90983 3.56712 6.90983H7.02832C7.46154 6.90983 7.8455 6.63087 7.97937 6.21885L9.04894 2.92705Z" fill="#ECAD3C" data-darkreader-inline-fill="" style="--darkreader-inline-fill: #edb248;"></path>
                                                    <path d="M30.0489 2.92705C30.3483 2.00574 31.6517 2.00574 31.9511 2.92705L33.0206 6.21885C33.1545 6.63087 33.5385 6.90983 33.9717 6.90983H37.4329C38.4016 6.90983 38.8044 8.14945 38.0207 8.71885L35.2205 10.7533C34.87 11.0079 34.7234 11.4593 34.8572 11.8713L35.9268 15.1631C36.2261 16.0844 35.1717 16.8506 34.388 16.2812L31.5878 14.2467C31.2373 13.9921 30.7627 13.9921 30.4122 14.2467L27.612 16.2812C26.8283 16.8506 25.7739 16.0844 26.0732 15.1631L27.1428 11.8713C27.2766 11.4593 27.13 11.0079 26.7795 10.7533L23.9793 8.71885C23.1956 8.14945 23.5984 6.90983 24.5671 6.90983H28.0283C28.4615 6.90983 28.8455 6.63087 28.9794 6.21885L30.0489 2.92705Z" fill="#ECAD3C" data-darkreader-inline-fill="" style="--darkreader-inline-fill: #edb248;"></path>
                                                    <path d="M51.0489 2.92705C51.3483 2.00574 52.6517 2.00574 52.9511 2.92705L54.0206 6.21885C54.1545 6.63087 54.5385 6.90983 54.9717 6.90983H58.4329C59.4016 6.90983 59.8044 8.14945 59.0207 8.71885L56.2205 10.7533C55.87 11.0079 55.7234 11.4593 55.8572 11.8713L56.9268 15.1631C57.2261 16.0844 56.1717 16.8506 55.388 16.2812L52.5878 14.2467C52.2373 13.9921 51.7627 13.9921 51.4122 14.2467L48.612 16.2812C47.8283 16.8506 46.7739 16.0844 47.0732 15.1631L48.1428 11.8713C48.2766 11.4593 48.13 11.0079 47.7795 10.7533L44.9793 8.71885C44.1956 8.14945 44.5984 6.90983 45.5671 6.90983H49.0283C49.4615 6.90983 49.8455 6.63087 49.9794 6.21885L51.0489 2.92705Z" fill="#ECAD3C" data-darkreader-inline-fill="" style="--darkreader-inline-fill: #edb248;"></path>
                                                    break;
                                                case 4:
                                                    <path d="M9.04894 2.92705C9.3483 2.00574 10.6517 2.00574 10.9511 2.92705L12.0206 6.21885C12.1545 6.63087 12.5385 6.90983 12.9717 6.90983H16.4329C17.4016 6.90983 17.8044 8.14945 17.0207 8.71885L14.2205 10.7533C13.87 11.0079 13.7234 11.4593 13.8572 11.8713L14.9268 15.1631C15.2261 16.0844 14.1717 16.8506 13.388 16.2812L10.5878 14.2467C10.2373 13.9921 9.7627 13.9921 9.41221 14.2467L6.61204 16.2812C5.82833 16.8506 4.77385 16.0844 5.0732 15.1631L6.14277 11.8713C6.27665 11.4593 6.12999 11.0079 5.7795 10.7533L2.97933 8.71885C2.19562 8.14945 2.59839 6.90983 3.56712 6.90983H7.02832C7.46154 6.90983 7.8455 6.63087 7.97937 6.21885L9.04894 2.92705Z" fill="#ECAD3C" data-darkreader-inline-fill="" style="--darkreader-inline-fill: #edb248;"></path>
                                                    <path d="M30.0489 2.92705C30.3483 2.00574 31.6517 2.00574 31.9511 2.92705L33.0206 6.21885C33.1545 6.63087 33.5385 6.90983 33.9717 6.90983H37.4329C38.4016 6.90983 38.8044 8.14945 38.0207 8.71885L35.2205 10.7533C34.87 11.0079 34.7234 11.4593 34.8572 11.8713L35.9268 15.1631C36.2261 16.0844 35.1717 16.8506 34.388 16.2812L31.5878 14.2467C31.2373 13.9921 30.7627 13.9921 30.4122 14.2467L27.612 16.2812C26.8283 16.8506 25.7739 16.0844 26.0732 15.1631L27.1428 11.8713C27.2766 11.4593 27.13 11.0079 26.7795 10.7533L23.9793 8.71885C23.1956 8.14945 23.5984 6.90983 24.5671 6.90983H28.0283C28.4615 6.90983 28.8455 6.63087 28.9794 6.21885L30.0489 2.92705Z" fill="#ECAD3C" data-darkreader-inline-fill="" style="--darkreader-inline-fill: #edb248;"></path>
                                                    <path d="M51.0489 2.92705C51.3483 2.00574 52.6517 2.00574 52.9511 2.92705L54.0206 6.21885C54.1545 6.63087 54.5385 6.90983 54.9717 6.90983H58.4329C59.4016 6.90983 59.8044 8.14945 59.0207 8.71885L56.2205 10.7533C55.87 11.0079 55.7234 11.4593 55.8572 11.8713L56.9268 15.1631C57.2261 16.0844 56.1717 16.8506 55.388 16.2812L52.5878 14.2467C52.2373 13.9921 51.7627 13.9921 51.4122 14.2467L48.612 16.2812C47.8283 16.8506 46.7739 16.0844 47.0732 15.1631L48.1428 11.8713C48.2766 11.4593 48.13 11.0079 47.7795 10.7533L44.9793 8.71885C44.1956 8.14945 44.5984 6.90983 45.5671 6.90983H49.0283C49.4615 6.90983 49.8455 6.63087 49.9794 6.21885L51.0489 2.92705Z" fill="#ECAD3C" data-darkreader-inline-fill="" style="--darkreader-inline-fill: #edb248;"></path>
                                                    <path d="M72.0489 2.92705C72.3483 2.00574 73.6517 2.00574 73.9511 2.92705L75.0206 6.21885C75.1545 6.63087 75.5385 6.90983 75.9717 6.90983H79.4329C80.4016 6.90983 80.8044 8.14945 80.0207 8.71885L77.2205 10.7533C76.87 11.0079 76.7234 11.4593 76.8572 11.8713L77.9268 15.1631C78.2261 16.0844 77.1717 16.8506 76.388 16.2812L73.5878 14.2467C73.2373 13.9921 72.7627 13.9921 72.4122 14.2467L69.612 16.2812C68.8283 16.8506 67.7739 16.0844 68.0732 15.1631L69.1428 11.8713C69.2766 11.4593 69.13 11.0079 68.7795 10.7533L65.9793 8.71885C65.1956 8.14945 65.5984 6.90983 66.5671 6.90983H70.0283C70.4615 6.90983 70.8455 6.63087 70.9794 6.21885L72.0489 2.92705Z" fill="#ECAD3C" data-darkreader-inline-fill="" style="--darkreader-inline-fill: #edb248;"></path>
                                                    break;
                                                case 5:
                                                    <path d="M9.04894 2.92705C9.3483 2.00574 10.6517 2.00574 10.9511 2.92705L12.0206 6.21885C12.1545 6.63087 12.5385 6.90983 12.9717 6.90983H16.4329C17.4016 6.90983 17.8044 8.14945 17.0207 8.71885L14.2205 10.7533C13.87 11.0079 13.7234 11.4593 13.8572 11.8713L14.9268 15.1631C15.2261 16.0844 14.1717 16.8506 13.388 16.2812L10.5878 14.2467C10.2373 13.9921 9.7627 13.9921 9.41221 14.2467L6.61204 16.2812C5.82833 16.8506 4.77385 16.0844 5.0732 15.1631L6.14277 11.8713C6.27665 11.4593 6.12999 11.0079 5.7795 10.7533L2.97933 8.71885C2.19562 8.14945 2.59839 6.90983 3.56712 6.90983H7.02832C7.46154 6.90983 7.8455 6.63087 7.97937 6.21885L9.04894 2.92705Z" fill="#ECAD3C" data-darkreader-inline-fill="" style="--darkreader-inline-fill: #edb248;"></path>
                                                    <path d="M30.0489 2.92705C30.3483 2.00574 31.6517 2.00574 31.9511 2.92705L33.0206 6.21885C33.1545 6.63087 33.5385 6.90983 33.9717 6.90983H37.4329C38.4016 6.90983 38.8044 8.14945 38.0207 8.71885L35.2205 10.7533C34.87 11.0079 34.7234 11.4593 34.8572 11.8713L35.9268 15.1631C36.2261 16.0844 35.1717 16.8506 34.388 16.2812L31.5878 14.2467C31.2373 13.9921 30.7627 13.9921 30.4122 14.2467L27.612 16.2812C26.8283 16.8506 25.7739 16.0844 26.0732 15.1631L27.1428 11.8713C27.2766 11.4593 27.13 11.0079 26.7795 10.7533L23.9793 8.71885C23.1956 8.14945 23.5984 6.90983 24.5671 6.90983H28.0283C28.4615 6.90983 28.8455 6.63087 28.9794 6.21885L30.0489 2.92705Z" fill="#ECAD3C" data-darkreader-inline-fill="" style="--darkreader-inline-fill: #edb248;"></path>
                                                    <path d="M51.0489 2.92705C51.3483 2.00574 52.6517 2.00574 52.9511 2.92705L54.0206 6.21885C54.1545 6.63087 54.5385 6.90983 54.9717 6.90983H58.4329C59.4016 6.90983 59.8044 8.14945 59.0207 8.71885L56.2205 10.7533C55.87 11.0079 55.7234 11.4593 55.8572 11.8713L56.9268 15.1631C57.2261 16.0844 56.1717 16.8506 55.388 16.2812L52.5878 14.2467C52.2373 13.9921 51.7627 13.9921 51.4122 14.2467L48.612 16.2812C47.8283 16.8506 46.7739 16.0844 47.0732 15.1631L48.1428 11.8713C48.2766 11.4593 48.13 11.0079 47.7795 10.7533L44.9793 8.71885C44.1956 8.14945 44.5984 6.90983 45.5671 6.90983H49.0283C49.4615 6.90983 49.8455 6.63087 49.9794 6.21885L51.0489 2.92705Z" fill="#ECAD3C" data-darkreader-inline-fill="" style="--darkreader-inline-fill: #edb248;"></path>
                                                    <path d="M72.0489 2.92705C72.3483 2.00574 73.6517 2.00574 73.9511 2.92705L75.0206 6.21885C75.1545 6.63087 75.5385 6.90983 75.9717 6.90983H79.4329C80.4016 6.90983 80.8044 8.14945 80.0207 8.71885L77.2205 10.7533C76.87 11.0079 76.7234 11.4593 76.8572 11.8713L77.9268 15.1631C78.2261 16.0844 77.1717 16.8506 76.388 16.2812L73.5878 14.2467C73.2373 13.9921 72.7627 13.9921 72.4122 14.2467L69.612 16.2812C68.8283 16.8506 67.7739 16.0844 68.0732 15.1631L69.1428 11.8713C69.2766 11.4593 69.13 11.0079 68.7795 10.7533L65.9793 8.71885C65.1956 8.14945 65.5984 6.90983 66.5671 6.90983H70.0283C70.4615 6.90983 70.8455 6.63087 70.9794 6.21885L72.0489 2.92705Z" fill="#ECAD3C" data-darkreader-inline-fill="" style="--darkreader-inline-fill: #edb248;"></path>
                                                    <path d="M93.0489 2.92705C93.3483 2.00574 94.6517 2.00574 94.9511 2.92705L96.0206 6.21885C96.1545 6.63087 96.5385 6.90983 96.9717 6.90983H100.433C101.402 6.90983 101.804 8.14945 101.021 8.71885L98.2205 10.7533C97.87 11.0079 97.7234 11.4593 97.8572 11.8713L98.9268 15.1631C99.2261 16.0844 98.1717 16.8506 97.388 16.2812L94.5878 14.2467C94.2373 13.9921 93.7627 13.9921 93.4122 14.2467L90.612 16.2812C89.8283 16.8506 88.7739 16.0844 89.0732 15.1631L90.1428 11.8713C90.2766 11.4593 90.13 11.0079 89.7795 10.7533L86.9793 8.71885C86.1956 8.14945 86.5984 6.90983 87.5671 6.90983H91.0283C91.4615 6.90983 91.8455 6.63087 91.9794 6.21885L93.0489 2.92705Z" fill="#ECAD3C" data-darkreader-inline-fill="" style="--darkreader-inline-fill: #edb248;"></path>
                                                    break;
                                                default:
                                                    break;
                                            }
                                        }
                                    </svg>
                                    <h3 class="products__item-title fut-m">
                                        @item.Name
                                    </h3>
                                    
                                    <ul class="products__item-list">
                                        <li class="products__item-content products__without-line">
                                            <span class="products__item-tissue">Материал</span>
                                            <span class="products__item-value fut-m">@item.Material</span>
                                        </li>
                                        <li class="products__item-content">
                                            <span class="products__item-price fut-b">Цена</span>
                                            <hr>
                                            <div class="products__sale">
                                                <span class="products__sale-value fut-b">@item.FullPrice ₴</span>
                                                @if (item.SalePercent != 0)
                                                {
                                                    <span class="products__full-price fut-b">
                                                        @item.SalePrice ₴
                                                        <svg class="cross-line" xmlns="http://www.w3.org/2000/svg" width="62" height="18" viewBox="0 0 62 18" fill="none">
                                                            <path d="M61 1L1 17" stroke="#FF003D" />
                                                        </svg>
                                                    </span>
                                                }
                                            </div>
                                        </li>
                                    </ul>
                                    <a asp-controller="CardProduct" asp-action="Index" asp-route-id="@item.Id" class="but-link catalog__but-link fut-b">Детальнее</a>
                                </div>
                            </div>
                        }
                        
                    </div><!-- /.catalog__products -->

                    <div class="catalog__pages">
                        <ul class="catalog__pages-list">
                            @if (Model.PageViewModel.HasPreviousPage)
                            {
                                <a asp-action="Index" asp-route-page="@(Model.PageViewModel.PageNumber - 1)">
                                    <li class="catalog__pages-item catalog__pages-arrow">
                                        <img src="images/pageArrow-icon.svg" alt="previous page">
                                    </li>
                                </a>
                            }
                            else
                            {
                                <a asp-action="Index" asp-route-page="@(Model.PageViewModel.PageNumber)">
                                    <li class="catalog__pages-item catalog__pages-arrow">
                                        <img src="images/pageArrow-icon.svg" alt="previous page">
                                    </li>
                                </a>
                            }
                            
                            @foreach (var item in Model.PageViewModel.Pages)
                            {
                                if(Model.PageViewModel.PageNumber == item)
                                {
                                    <a asp-action="Index" asp-route-page="@item">
                                        <li class="catalog__pages-item catalog__pages-item--active">@item</li>
                                    </a>
                                }
                                else
                                {
                                    <a asp-action="Index" asp-route-page="@item">
                                        <li class="catalog__pages-item">@item</li>
                                    </a>
                                }
                            }

                            @if (Model.PageViewModel.HasNextPage)
                            {
                                <a asp-action="Index" asp-route-page="@(Model.PageViewModel.PageNumber + 1)">
                                    <li class="catalog__pages-item catalog__pages-arrow">
                                        <img class="catalog__pages-arrow--rotate" src="images/pageArrow-icon.svg" alt="next page">
                                    </li>
                                </a>
                            }
                            else
                            {
                                <a asp-action="Index" asp-route-page="@(Model.PageViewModel.PageNumber)">
                                    <li class="catalog__pages-item catalog__pages-arrow">
                                        <img class="catalog__pages-arrow--rotate" src="images/pageArrow-icon.svg" alt="next page">
                                    </li>
                                </a>
                            }
                        </ul>
                    </div><!-- /.catalog__pages -->

                </div><!-- /.catalog__inner-promo -->
            </div><!-- /.catalog__inner -->

        </div><!-- /.container -->
    </section>

    <section class="wholesale">
        <div class="container">
            <div class="wholesale__wrapper">
                <div class="wholesale__wrapper-inner">
                    <h2 class="title wholesale__title fut-b">Детская одежда оптом</h2>
                    <p class="text wholesale__text m-0">
                        Детская одежда оптом от производителя официальный сайт Катлен – это только качественные вещи, которые предоставляет ведущая украинская фабрика, способные отлично подойти ребенку любого возраста, не раздражая его кожу. Все изделия выполнены из натуральных тканей, что позволяет каждому чувствовать себя уютно и комфортно. Катлен, как производитель детской одежды, занимается оптовыми продажами (крупный и мелкий опт) всех разновидностей товара в любом уголке Украины: Днепр, Киев, Львов, Запорожье, Харьков, Одесса и др.
                    </p>
                </div>
            </div><!-- /. wholesale__wrapper -->
        </div><!-- /. container -->
    </section><!-- /. wholesale -->

</main>
